:root {
  --iw-orange: #ff8d00;
}


@font-face {
  font-family: 'Flama';
  src: url('./fonts/flamabook-webfont.woff2') format("woff2"),
    url('./fonts/flamabook-webfont.woff') format("woff");
  font-weight: normal;
}

@font-face {
  font-family: 'Flama';
  src: url('./fonts/flamalight-webfont.woff2') format("woff2"),
    url('./fonts/flamalight-webfont.woff') format("woff");
  font-weight: 200;
}

@font-face {
  font-family: 'Flama';
  src: url('./fonts/flamamedium-webfont.woff2') format("woff2"),
    url('./fonts/flamamedium-webfont.woff') format("woff");
  font-weight: 500;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html {
  font-size: clamp(11px, 1.25vw, 18px);
}

body {
  margin: 0;
  font-family: 'Flama', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}